.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form__label {
  color: #555;
  font-size: 15px;
  font-family: "Merriweather";
}

.form__input,
.form__textarea {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  color: #222;
  text-align: left;
}

.form__input::-webkit-input-placeholder {
  color: #999;
  font-size: 1rem;
}

.form__input:focus {
  outline: 1px solid #11999e;
}
