.header {
  position: relative;
  padding-top: 150px;
  background-color: #e4f9f5;
}

.header__title {
  margin: 0;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 89px;
  text-align: center;
  font-weight: 400;
}

.header__subtitle {
  color: #66bfbf;
  font-family: "Montserrat", san-serif;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  margin: 34px 0 48px 0;
}

.header__subtitle h2 {
  height: 48;
}

.header__pro {
  text-decoration: underline;
}

.header__cloud {
  position: absolute;
  top: 54px;
  right: 288px;
}

.header__cloud2 {
  position: absolute;
  left: 110px;
  top: 338px;
}

.header__bus {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 475px;
  top: 37px;
}
